$font: 'TT Commons', Arial, Helvetica, sans-serif;

$grey: #e7e7e7;
$blue: #D9E1ED; 
$red: #FF0000;
$placeholder-color: #ffffff;

$font-size: 18px;
$font-lineheight: 1.16em;

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: $font;
  line-height: $font-lineheight;
  color: #000000;
  &.hidden {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  font: normal $font-size $font;
  line-height: $font-lineheight;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}


ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
p{
    margin: 0;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

:-moz-placeholder {
  color: $placeholder-color;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

::-moz-placeholder {
  color: $placeholder-color;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

:-ms-input-placeholder {
  color: $placeholder-color;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }


.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}