.header{
  padding-top: 40px;
  margin-bottom: 65px;
}
.header__wrap{
  display: flex;
  justify-content: space-between;
}
.header__link{
color: #000000;
font-family: $font;
font-size: 16px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: underline;
transition: .3s;
  &:hover{
    color: $red;
    transition: .3s;
  }
}
.header__link-logo{
  color: $red;
  font: $font-logo;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  

}