.section__content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}
.section__content-text{
  color: #000000;
  font-family: $font;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.34px;
  line-height: 1.1;
  text-transform: uppercase;
  font-style: italic;
  max-width: 232px;
}
.section__content-text-red{
  color: $red;
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  max-width: 205px;
  background-image: url(/images/icons_like.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 62px;
  transform: rotate(345deg);
  align-self: center;
}
.nav__list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav__item{
  position: relative;
  margin-right: 60px;
    &:last-child{
      margin-right: 0;      
    }
    &::after{
      position: absolute;
      content: ''; 
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: $red;
      right: -30px;
      bottom: 6px;
    }
    
}
.nav__link{
  color: #000000;
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  transition: .3s;
    &:hover{
      color: $red;
      transition: .3s;
    }
}
.nav__item:last-child:after{
    display: none;
}