<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    .wrapper.wrapper-main
      include template/_header
      include template/_section-main
      //- include template/_form
      include template/_footer
      include base/_scripts 