header.header
  .container  
    .header__wrap
      a.header__link(href="#") расписание 
      a.header__link.header__link-logo(href="index.html") за буйки  
      a.header__link(href="#") вступить в клуб 