section.section.section-main
  .container
    .section__content
      .section__content-text Gilrs Club, где&nbsp;мы идем на&nbsp;стречу приключениям
      .section__content-img
        img.section__content-foto(src="images/foto_main1.jpg", alt="foto")
      .section__content-text-red Осталось 2 места на встречу в субботу Жми!
    nav.nav    
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Путешествия
        li.nav__item
          a.nav__link(href="#") Дети
        li.nav__item
          a.nav__link(href="#") Лекции и встречи
        li.nav__item
          a.nav__link(href="#") Искусство и мастерклассы
        li.nav__item
          a.nav__link(href="#") Книжный клуб
    .section__content
