section.section.section-main
  .container
    .section__row
    nav.nav    
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Путешествия
        li.nav__item
          a.nav__link(href="#") Дети
        li.nav__item
          a.nav__link(href="#") Лекции и встречи
        li.nav__item
          a.nav__link(href="#") Искусство и мастерклассы
        li.nav__item
          a.nav__link(href="#") Книжный клуб
    .section__row
